
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TITLE</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <a>Logged in as: {{ user.username }}</a>
            <br><a href="{% url 'logout' %}">Logout</a></br>
        {% else %}
            <li><a href="{% url 'login' %}">Login<a></li>  
        {% endif %}


        <br><a type="button" role="button" href="{% url "store:cart" %}" class="btn btn-outline-secondary">

            

            {% with total_qty=cart|length %}
                <div id="cart-qty" class="d-inline-flex">
                    {% if total_qty > 0 %}
                        {{ total_qty }}
                    {% else %}
                        0
                    {% endif %}
                </div>
            {% endwith %}


            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-cart3" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            Cart
        </a></br>
        

        <br><a href="{% url 'store:list_category' %}">My Store<a></br>
        <br>Categories:</br>  

            <br>{% if category_key %}
                {% for category in category_key %}
                    <li><a href="{% url 'store:category_details' category.name %}">{{ category.name }}</li>       
                {% endfor %}
            {% endif %}</br>  

        <a>Products:<a>  
        
        {% block content %}
            <br>{% if product_key %}
                {% for product in product_key %}
                    <img src="{{ product.picture.url }}"> 
                    <li><a href="{% url 'store:product' product.id %}">{{ product.product_name }}</li>      
                {% endfor %}
            {% endif %}</br> 
        {% endblock content %}
        
    </body>
</html>     

